<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <div class="container">
  <h1>Welcome to the Home Page</h1>
  <ul>
    <% data.forEach(function(game) { %>
      
      <!--HW5-->
      <li>
        Title: <span id="game-title"></span>
        <a href="/detail?id=<%= game.title %>">View Details</a>
      </li>
    <% }); %>
  </ul>
  </div>
  <script>
    const gameTitles = document.querySelectorAll('.game-title');

    gameTitles.forEach(function(gameTitle) {
      gameTitle.innerHTML = gameTitle.dataset.title;
    });
  </script>
</body>
</html>
